.navigation-ul {
  list-style-type: none;
  display: flex;
  justify-content: "center";
  padding: 0;
}

.navigation-ul li {
  margin: 0 10px;
}

.navigation-ul li a {
  /* color: #ffffff; */
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
}
.nav-logo {
  height: 50px;
  width: 50px;
}

.navigation-ul-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: "center";
  padding: 0;
}

.navigation-ul-menu li {
  margin: 10px;
}

/* .navigation-ul-menu li a {
   color: #000000; 
} */

.footer-styles {
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #3d3d3d;
}

.img-film {
  height: 400px;
  width: 250px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  margin-top: 90px;
  padding: 5px;
  background: #f4f4f4;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup img {
  width: 100%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  bottom: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #93000a;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.img-detail img {
  width: 100%;
}
